@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.signature {
  font-family: 'Kaushan Script', cursive;
  font-size: 180%;
  text-decoration: none;
  color: black;
}

.signature:hover {
  color: #2f4f4f;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: #2f4f4f;
}

.navbar {
  margin-bottom: 16%;
}

.banner {
  background-color: #2f4f4f;
  color: white;
  height: 200px;
  margin-bottom: 20%;
}

.about-me {
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.banner-txt{
  font-family: 'Kaushan Script', cursive;
  font-size: 6vw;
}

h2 {
  font-size: 2vw;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.code {
  background-image: url('./../images/coder.png');
}
