@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.signature {
  font-family: 'Kaushan Script', cursive;
  font-size: 180%;
  text-decoration: none;
  color: black;
}

.signature:hover {
  color: #2f4f4f;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: #2f4f4f;
}

.navbar {
  margin-bottom: 16%;
}

.banner {
  background-color: #2f4f4fB3;
  color: white;
  width: 100%;
  height: auto;
}

.banner-txt{
  font-family: 'Kaushan Script', cursive;
  font-size: 6vw;
}

h2 {
  font-size: 2vw;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.code {
  background-image: url('./../images/coder.png');
  background-attachment: fixed;
  background-size: 100%;
  background-position:0% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 25%;
}

.about-me {
  background-image: url('./../images/kitchen2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 10%;
}

.akeem {
  border-style: solid;
  border-width: 4px;
  border-radius: 60px;
  border-color: white;
  margin-top: -100px;
  max-width: 50%;
  height: auto;

}

.section-about-me{
  margin-top: 3%;
}

.section-desc {
  background-color: #2f4f4fE6;
  color: white;
  border-radius: 10px 60px 38px 25px;
}

.about-me-par {
  padding: 25px;
  font-size: 2vw;
}

.section-title {
  margin-top: 13%;
}

.title-about-me {
  font-size: 4vw;
  color: white;
  background-color: #2f4f4fE6;
  padding: 10px;
  border-radius: 10px 60px 38px 25px;
  text-align: center;
}

.title-skills {
  font-size: 5vw;
  color: #2f4f4f;
}

.skills {
  background-image: url('./../images/coder.png');
  background-attachment: fixed;
  background-size: 100%;
  background-position:0% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 10%;
}

i {
  font-size: 6vw;
}

.white {
  color: white;
  font-size: 3vw;
}

.work {
  background-image: url('./../images/coder2.png');
  background-attachment: fixed;
  background-size: 100%;
  background-position:0% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 10%;
}

.tool-box-img {
  width: 90%;
  margin-left: 3%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
}

.other-img {
  width: 90%;
  margin-left: 3%;
  border-style: solid;
  border-width: 3px;
  border-color: #ECECEC;
  border-radius: 10px;
}


.project-two {
  margin-top: 10%;
}
.project-tech {
  color: #2f4f4f;
  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-radius: 25px;
  margin-top: 2%;
  font-size: 2vw;
}
.project-one-desc {
  color: white;
  font-size: 2vw;
}

.title-products {
  font-size: 5vw;
  color: white;
}

#linkedin, #github {
  font-size: 3vw;
}

.contact {
  height: 500px;
}

form {
  width: 60%;
  margin-top: 3%;
}

.skillssub {
  font-size: 2vw;
}

.sizethree {
  font-size: 3vw;
}

.live, .repo {
  font-size: 2vw;
}

@media screen and (max-width: 400px) {
  .akeem {
    margin-top: 1px;
  }
}

@media (max-width: 1025px) {
.about-me, .skills, .work {

    background-size: auto;
    background-attachment: scroll;

}
}

@media (max-width: 1025px) {
.about-me {

    background-size: 100%;
    background-attachment: scroll;

}
}






.inputt {
  font-size: 2vw;
}

.oneview {
  font-size: 1vw;
}
