@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.signature {
  font-family: 'Kaushan Script', cursive;
  font-size: 180%;
  text-decoration: none;
  color: black;
}

.signature:hover {
  color: #2f4f4f;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: #2f4f4f;
}

.navbar {
  margin-bottom: 16%;
}

.banner {
  background-color: #2f4f4fB3;
  color: white;
  height: 200px;
}

.banner-txt{
  font-family: 'Kaushan Script', cursive;
  font-size: 6vw;
}

h2 {
  font-size: 2vw;
}

.navbar-toggler {
  border-color: black;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.code {
  background-image: url('./../images/coder.png');
  background-attachment: fixed;
  background-position:0% 60%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 800px;
}

.about-me {
  background-image: url('./../images/kitchen2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  background-attachment: fixed;
}

.akeem {
  border-style: solid;
  border-width: 4px;
  border-radius: 60px;
  border-color: white;
  margin-top: -100px;
}

.section-about-me{
  margin-top: 3%;
}

.section-desc {
  width: 50%;
  background-color: #2f4f4fE6;
  color: white;
  border-radius: 10px 60px 38px 25px;
}

.about-me-par {
  padding: 25px;
  font-size: 2vw;
}

.section-title {
  margin-top: 13%;
}

.title-about-me {
  font-size: 4vw;
  color: white;
  background-color: #2f4f4fE6;
  padding: 25px;
  border-radius: 10px 60px 38px 25px;
}

.title-skills {
  font-size: 5vw;
  color: #2f4f4f;
}

.skills {
  background-image: url('./../images/coder.png');
  background-attachment: fixed;
  background-position:0% 60%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
}

i {
  font-size: 6vw;
}

.white {
  color: white;
}

.work {
  background-color: #2f4f4f;
  height: 2300px;
}

.tool-box-img {
  width: 90%;
  margin-left: 3%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
}

.other-img {
  width: 90%;
  margin-left: 3%;
  border-style: solid;
  border-width: 3px;
  border-color: #ECECEC;
  border-radius: 10px;
}

.project-one-image {
  width: 50%;
}

.project-one-detail {
  width: 50%;
}

.project-two {
  margin-top: 10%;
}
.project-tech {
  color: #2f4f4f;
  background-color: black;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-radius: 25px;
  margin-top: 4%;
}
